.popup__save-button {
  padding: 0;
  margin-top: 18px;
  width: 358px;
  height: 50px;
  background-color: #000;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  transition: opacity 0.2s linear;
}

.popup__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .popup__save-button {
    width: 238px;
    margin-top: 14px;
    font-size: 14px;
    line-height: 1.21;
  }
}
