.element__like-button {
  padding: 0;
  border: none;
  cursor: pointer;
  width: 22px;
  height: 19px;
  background-image: url("../../../images/Element_like-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  transition: opacity 0.2s linear;
}

.element__like-button:hover {
  opacity: 0.6;
}
