.profile__info {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .profile__info {
    padding: 26px 0 34px;
    flex-grow: 1;
    gap: 10px;
  }
}
